<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="">
      <%= link_to "back", :back %>
    </div>


    This is where direct mail will go
  </body>
</html>
