<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr class="tagline-divider">
                <h2 class="intro-text text-xs-center">
                    <strong>Upload Page</strong>
                </h2>
                <hr class="tagline-divider">
                <br>
                <br>
            </div>
            <div class="col-md-8">

                <textarea name="uploads" rows="8" cols="80"></textarea>
            </div>
            <div class="col-md-8">

                <textarea name="uploads" rows="8" cols="80"></textarea>
            </div>
            <br>

            <div class="clearfix"></div>
        </div>
    </div>
