<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="">
      <p>Are you checking an email or a direct mail?</p>
      <%= link_to "Email", emails_path%>

      <%= link_to "Direct Mail", directmail_path%>
    </div>
  </body>
</html>
