@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
//all the css gets done here.
body >div {
  background-color: #FBF5F3;
}

html {
  background-color: #FBF5F3;
}
.main {
  background-color: #FBF5F3;

}
p {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

body > div {
  margin: 0;
  // margin-top: 2em;
  padding: 0;
}

body > div > div > div.col {
  font-size:1.5rem;
}

.versioning {
  font-size: 1.5em;
  color: #522B47;
}
.email, .pg {
  margin-bottom: 3em;
}

.horizontally_align_results {
  margin-bottom: 10px;
}
.back {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 2px;
  color: white;
  font-size: 15px;
  background-color: darkgrey;
}

.highlight {
  background-color: yellow;
  color: black;
}

.red {
  background-color: lightcoral;
  color: black;
}

.button_container {
  background-color: #0F0E0E;
  position: fixed;
  display: inline;
  top: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 10px;
  flex: 0 0 auto;
  // overflow: hidden;
  // overflow: scroll;
  // overflow-x: scroll;
  float: left;
  display: block;
  border: 1px solid white;

  text-align: center;
  background-color: #522B47;
  padding: 1em;
  border-radius: 3px;
  // border-width: 4px;
  text-decoration: none;
  color: white;
}

.button:hover {
  background-color: #0F0E0E;
  text-decoration: none;
  color: white;
}

.spell {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 10px;
  overflow: hidden;
  float: left;
  display: block;
  border: 1px solid white;

  text-align: center;
  background-color: #7B0828;
  padding: 1em;
  border-radius: 3px;
  // border-width: 4px;
  text-decoration: none;
  color: white;
}

.spell:hover {
  background-color: #0F0E0E;
  text-decoration: none;
  color: white;
}

.clear {
  background-color: #8DAA9D;
  color: white;
  float: right;
}
.clear:hover {
  background-color: #0F0E0E;
  color: white;
}

.down {
  margin-top: 10em;
}

.container {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.spells {
  margin-top: 100px;
  padding: 1em;
  // margin: 1em;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
}

.margin-left-some {
  margin-left: 3em;
}

.coral {
  background-color: lightcoral;
}

.yellow {
  background-color: yellow;
}

.center {
  background-color: #8DAA9D;
  color: white;
  margin: auto;
  width: 50%;
  // border: 3px solid green;
  padding: 4em 2em 4em 2em;
}

.large_text {
  font-size: 20px;
}

.margin_top {
  margin-top: 15em;
}

.email_button {
  background-color: #522B47;
  padding: 1em;
  color: white;
  text-decoration: none;
}

.email_button:hover {
  background-color: #0F0E0E;
  color: white;
  text-decoration: none;
}


.dm_button {
  background-color: #7B0828;
  padding: 1em;
  color: white;
  text-decoration: none;
}

.dm_button:hover {
  background-color: #0F0E0E;
  color: white;
  text-decoration: none;
}


.clear_button {
  background-color: #8DAA9D;
  padding: 1em;
  color: white;
  text-decoration: none;
}

.clear_button:hover {
  background-color: #0F0E0E;
  color: white;
  text-decoration: none;
}
.no_padding {
  border-top: none !important;
  border-left: none !important;
  background-color: #FBF5F3 !important;
  border-right: none !important;
  border-bottom: 2px solid lightcoral !important;
  padding: 0   !important;
  outline:0 !important;
}

.no_padding:hover {
  border-bottom: 2px solid #0F0E0E !important;
  outline:0 !important;
  background-color: #f7efed !important;

}

.more_no_padding {
  padding: 0 !important;
}

.padding_left{
  margin: auto !important;
}

.margin-left {
  margin-left: 2em;
}

.none {
  display: none !important;
}

.some_spacing {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.small_text {
  font-size: 12.3px;
}
.look_at_emails_button {
  margin-top: 2em;
  border: none;
  font-size: 16px;
}

.text {
  background-color: #E3D8DA !important;
  border: none !important;
  outline: 0 !important;
  width: 100%;
  height: auto;
  font-size: 12px;
}

.email {
  background-color: #E3D8DA !important;
  padding: 10px;
  border-radius: 5px;
  max-width: 550px;
}

.pg {
  background-color: #E9D3D6 !important;
  padding: 10px;
  border-radius: 5px;
  max-width: 550px;
}
