<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <p><strong>Programming Grid</strong></p>
    <p class="secret">Hide all unchecked</p>
      <% if @merge_variable.count == 1 %>
        <%= render partial: "layouts/MV_single_variable" %>
      <% else %>
        <%= render partial: "layouts/MV_multiple_variables" %>
      <% end %>
    <%= link_to "Look at Email Data", emails_path %>
    <% javascript_include_tag "table.js" %>
  </body>
</html>
