<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body class="main">
    <div class="button_container">
    <%= link_to "Clear", clearemails_path, class: "button clear" %>
    <%= link_to "Back to #{@email.version}", select_path(:id => @email.id), :class=>"button" %>
  </div>

    <div class="spells">
    <% @misspellings.each do |word| %>
    <%= word %>
    <% end %>
    </div>
  </body>
</html>
