<!-- Footer -->
<footer>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <% if current_page?(root_path) %>
                    <%= link_to "Email", uploads_path, class: "btn btn-danger btn-lg" %>
                    <%= link_to "Direct Mail", directmail_path, class: "btn btn-primary btn-lg"%>
                <% else %>
                    <button type="button" class="btn btn-secondary btn-lg">Previous</button>
                    <button type="button" class="btn btn-secondary btn-lg">Next</button>
                <% end %>
            </div>
        </div>
    </div>
</footer>
