<table>
  <% @merge_variable.first.each_with_index do |variable, index| %>
     <tr>
         <% if index == 0 %>
           <th>
             <input type="checkbox" id="thing"></input>
             <form class="form-inline">
               <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" value="<%= variable %>"></input>
             </form>
           </th>
         <% else %>
           <td>
             <form class="form-inline">
               <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" value="<%= variable %>"></input>
             </form>
           </td>
         <% end %>
     </tr>
   <% end %>
   </table>
